#SubQueries Assignment

#Basic Level
1. Retrieve the names of employees who earn more than the average salary of all employees.

- select name,salary from EmployeeDataset where salary > (select avg(salary) as avg_sal from EmployeeDataset);

2. Find the employees who belong to the department with the highest average salary.

-select department_id, max(avg_sal) from
    (
    (select  avg(salary) as avg_sal,department_id from EmployeeDataset group by department_id)
    )
    as max_sal group by department_id;

3. List all employees who have made at least one sale.

-  select e.emp_id,e.name,s.sale_id,s.sale_amount
    from EmployeeDataset e
    left join Sales_Dataset s
    on e.emp_id=s.emp_id ;

    4. Find the employee with the highest sale amount.

    -  select e.emp_id,e.name,s.sale_id,s.sale_amount
    from EmployeeDataset e
    left join Sales_Dataset s
    on e.emp_id=s.emp_id order by s.sale_amount desc
    limit 1;

    5. Retrieve the names of employees whose salaries are higher than Shubham’s salary.

    - select name from EmployeeDataset where salary >
    (select salary from EmployeeDataset where name="Shubham");

    #Intermediate Level

    1. Find employees who work in the same department as Abhishek

    - select name from EmployeeDataset where department_id =
    (select department_id from EmployeeDataset e where name="Abhishek");

    2. List departments that have at least one employee earning more than ₹60,000.

    - select department_name from Department where department_id in
    (select department_id from EmployeeDataset where salary>"60,000");

    3. Find the department name of the employee who made the highest sale.

    - select d.department_name,e.name,sale_amount
   from Department d
   left join EmployeeDataset e
   on d.department_id=e.department_id
   left join Sales_Dataset s
   on e.emp_id=s.emp_id
   where sale_amount =(select max(sale_amount) from Sales_Dataset) ;

   4. Retrieve employees who have made sales greater than the average sale amount.

   -    select e.name,s.sale_amount
   from EmployeeDataset e
   left join Sales_Dataset s
   on e.emp_id=s.emp_id
   where sale_amount >
   (select avg(sale_amount) as avg_sale_amt from Sales_Dataset ) order by sale_amount desc;

   5. Find the total sales made by employees who earn more than the average salary.

   - select sum(s.sale_amount) as total_sales
   from Sales_Dataset s
   left join EmployeeDataset e
   on s.emp_id=e.emp_id
   where (select avg(salary) from EmployeeDataset);

   #Advanced Level

   1.Find employees who have not made any sales.

   -  select * from Sales_Dataset;
    select e.name,s.sale_id
    from EmployeeDataset e
    left join Sales_Dataset s
    on e.emp_id=s.emp_id
    where s.sale_id is null;

    2. List departments where the average salary is above ₹55,000.

    - SELECT D.department_name
FROM EmployeeDataset E
JOIN Department D ON E.department_id = D.department_id
GROUP BY D.department_name
HAVING AVG(E.salary) > 55000;

3. Retrieve department names where the total sales exceed ₹10,000

- select d.department_name
from EmployeeDataset e
join Department d
on e.department_id=d.department_id
join Sales_Dataset s
on e.emp_id=s.emp_id
group by d.department_name
having sum(s.sale_amount)>10000;

4. Find the employee who has made the second-highest sale.

- select e.emp_id,e.name
from EmployeeDataset e
join Sales_Dataset s
on e.emp_id=s.emp_id
where sale_amount =
(
select sale_amount from Sales_Dataset order by sale_amount desc limit 1 offset 1
);

5. Retrieve the names of employees whose salary is greater than the highest sale amount recorded

- select name,salary from EmployeeDataset where salary >
 (
select max(sale_amount) from Sales_Dataset
) order by salary desc;